@import url(./common.css);

.logo-container {
  width: 64px;
  height: 64px;
  position: relative;
}

.logo {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: relative;
  animation: float 3s ease-in-out infinite;
}

/*************/
/* Animation */
/*************/

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/********/
/* Hero */
/********/

#hero {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: calc(100vh - 80px); /** better get the correct value by using js**/
  padding-top: 150px;
}

.hero-image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.hero-image-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(1px);
  transition: all 0.5s ease-in-out;
  z-index: 5;
}

.hero-image-container:hover img {
  filter: none;
  transform: scale(1.05);
  cursor: pointer;
}

.hero-overlay {
  position: absolute;
  color: white;
  opacity: 0;
  right: 30px;
  top: 30px;
  padding: 10px 0;
  font-size: 8rem;
  text-orientation: upright;
  writing-mode: vertical-rl;
  transition: all 0.5s ease-in-out;
  z-index: 6;
  pointer-events: none;
}

.hero-image-container:hover .hero-overlay {
  opacity: 0.7;
}

/****************************/
/* Toggle moible menu button
/****************************/
.toggle-button {
  position: fixed;
  right: 30px;
  top: 30px;
  z-index: 999999;
  width: 48px;
  height: 48px;
  font-size: 1.5rem;
  background-color: var(--text-color);
  display: none;
  visibility: none;
  pointer-events: none;
}

.mobile-nav-list {
  position: absolute;
  top: 0;
  left: -200px;
  display: block;
  width: 200px;
  height: 100vh;
  background-color: black;
  opacity: 0.6;
  z-index: 10000;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 768px) {
  #nav-list {
    display: none;
  }

  .mobile-nav-list.active {
    left: 0;
  }

  .mobile-nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 3rem;
  }

  .mobile-nav-list a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    transition: all 0.5s ease-in-out;
  }

  .mobile-nav-list a:hover {
    color: white;
    text-decoration: none;
    color: var(--title-color);
    transform: scale(1.3);
  }

  .hero-overlay {
    opacity: 0.2;
    font-size: 4rem;
  }

  .toggle-button {
    display: inline-block;
    visibility: visible;
    pointer-events: all;
    transition: all 0.3s ease-in-out;
  }

  .toggle-button:hover {
    cursor: pointer;
    background-color: var(--link-color);
  }

  #hero {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
